@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding : 0;
  box-sizing : border-box;
}

#root{
  min-height:100vh;
  background-image: radial-gradient(
    circle 382px at 50% 50.2%,
    rgba(72, 76, 212,1) 0.1%,
    rgba(3,1,50,1)100.2%);
    overflow: hidden;
}
@keyframes slide-up{
  100%{
    transform:translateY(0);
    opacity: 1;
  }
}
@keyframes slide-right{
  100%{
    transform:translateX(0);
    opacity: 1;
  }
}
@keyframes slide-down{
  100%{
    transform:translateY(-50%);
    opacity: 1;
  }
}
@keyframes zoom-in{
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

